parameters:
    database_user:     root
    database_password: ~
    database_path:     "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    agenda_url:        "http://opendata.euskadi.eus/contenidos/ds_eventos/agenda_cultura_euskadi/es_kultura/adjuntos/kulturklik.xml"
